<%- include('../partials/header') %>

      <div class="starter-template">
        <h1>Tabuada do número <%= num %></h1>
        <ul>
          <table>
            <% for(let i=0; i<= 100; i++){ %>
            <tr>
              <td><%= num %></td><td> X </td><td><%= (num*i) %></td>
            </tr>
            <% } %>
          </table>
        </ul>
      </div>

<%- include('../partials/footer') %>