<%- include('../partials/header') %>

      <div class="starter-template">
        <br>
        <br>
        <h1>Tabuada do número <%= num %></h1>
        <ul>
          <table class="table table striped table-bordered table-hover">
            <% tabuadas.map(item => { %>
            <tr>
              <td><%= item.num %></td>
              <td> X </td>
              <td><%= item.i %></td>
              <td>= &nbsp;</td>
              <td><%= item.resultado %></td>
            </tr>
            <% }) %>
          </table>
        </ul>
      </div>

<%- include('../partials/footer') %>